<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rasa.com.videoview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".FullScreenActivity"
            android:screenOrientation="landscape"
            android:theme="@style/VideoFullScreenTheme"
            ></activity>
    </application>

</manifest>